
.temp-value {
  font-size: var(--fs-900);
  color: var(--clr-neutral-100);
  font-family: var(--ff-primary);
  text-align: center;
  line-height: 10.53rem;
  font-weight: var(--fw-medium);
}

.temp-value span {
  font-size: var(--fs-800);
  line-height: 3.522rem;
  color: var(--clr-neutral-200);
}
