<main>
  <nav class="nav" [class.pull-down]="showSearchMenu">
    <i class="fa fa-times text-neutral-100" aria-hidden="true" (click)="showSearchMenu = false"></i>
    <form></form>
  </nav>
  <article class="today-weather-wrapper ">
    <div class="overlay"></div>
    <div class="filter flex jc-sb ai-c">
      <a class="search-btn bg-neutral-300 text-neutral-100 cp" (click)="showSearchMenu = true">Seach for
        places</a>
      <a href="#" class="location-marker">
        <i class="fa fa-compass text-neutral-100" aria-hidden="true"></i>
      </a>
    </div>
    <div class="today-weather-stats flex flex-column ai-c">
      <img src="assets/img/Shower.png" class="curr-weather-icon">
      <h1 class="temp-value my-15">15 <span>°C</span> </h1>
      <p class="weather-name my-15">Shower</p>
      <div class="weather-time flex jc-sb ai-c my-30">
        <span class="day">Today</span>
        <span class="date">Fri, 5 Jun</span>
      </div>
      <p class="location__name">
        <i class="fa fa-map-marker text-neutral-200" aria-hidden="true"></i>
        Attock
      </p>
    </div>
  </article>
  <article class="future-weather bg-primary-900">abc</article>
</main>