<main>
  <nav class="nav" [class.show]="showSearchMenu">
    <i class="fa fa-times text-neutral-100 close-btn" aria-hidden="true" (click)="showSearchMenu = false"></i>
    <form class="search-form">
      <div class="form-group position-relative search-box">
        <i class="fa fa-search text-neutral-300" aria-hidden="true"></i>
        <input type="text" class="form-control" placeholder="search location">
      </div>
      <div class="form-group">
        <input type="submit" class="form-control btn" value="Search">
      </div>
    </form>
    <div class="suggestions-box">
      <div class="suggested-city">
        London
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
      <div class="suggested-city">
        Barcelona
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
  <article class="today-weather-wrapper ">
    <div class="overlay"></div>
    <div class="filter flex jc-sb ai-c">
      <a class="search-btn bg-neutral-300 text-neutral-100 cp" (click)="showSearchMenu = true">Seach for
        places</a>
      <a href="#" class="location-marker">
        <i class="fa fa-compass text-neutral-100" aria-hidden="true"></i>
      </a>
    </div>
    <div class="today-weather-stats flex flex-column ai-c">
      <img src="assets/img/Shower.png" class="curr-weather-icon">
      <h1 class="temp-value my-15">15 <span>°C</span> </h1>
      <p class="weather-name my-15">Shower</p>
      <div class="weather-time flex jc-sb ai-c my-30">
        <span class="day">Today</span>
        <span class="date">Fri, 5 Jun</span>
      </div>
      <p class="location__name">
        <i class="fa fa-map-marker text-neutral-200" aria-hidden="true"></i>
        Attock
      </p>
    </div>
  </article>
  <article class="detailed-weather bg-primary-900">
    <div class="future-weather">
      <div class="single-day">
        <span>Tomorrow</span>
        <img src="assets/img/LightCloud.png" class="single-day__icon">
        <div class="single-day__temp">
          <span>16°C</span>
          <span>11°C</span>
        </div>
      </div>
      <div class="single-day">
        <span>Tomorrow</span>
        <img src="assets/img/LightCloud.png" class="single-day__icon">
        <div class="single-day__temp">
          <span>16°C</span>
          <span>11°C</span>
        </div>
      </div>
      <div class="single-day">
        <span>Tomorrow</span>
        <img src="assets/img/LightCloud.png" class="single-day__icon">
        <div class="single-day__temp">
          <span>16°C</span>
          <span>11°C</span>
        </div>
      </div>
      <div class="single-day">
        <span>Tomorrow</span>
        <img src="assets/img/LightCloud.png" class="single-day__icon">
        <div class="single-day__temp">
          <span>16°C</span>
          <span>11°C</span>
        </div>
      </div>
      <div class="single-day">
        <span>Tomorrow</span>
        <img src="assets/img/LightCloud.png" class="single-day__icon">
        <div class="single-day__temp">
          <span>16°C</span>
          <span>11°C</span>
        </div>
      </div>
    </div>
    <div class="today-highlights">
      <h3>
        Today's Highlights
      </h3>
      <div class="box-wrapper">
        <div class="box">
          <span class="box-text">Wind status</span>
          <span class="box-number"> <b>7</b> mph</span>
          <span class="box-icon">
            <i class="fa fa-location-arrow text-neutral-100" aria-hidden="true"></i>
          </span>
        </div>
        <div class="box has-icon">
          <span class="box-text">Wind status</span>
          <span class="box-number"> <b>7</b> mph</span>
        </div>
      </div>
    </div>
  </article>
</main>