<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>
<main *ngIf="tempData">
  <nav class="nav" [class.show]="showSearchMenu">
    <i class="fa fa-times text-neutral-100 close-btn" aria-hidden="true" (click)="showSearchMenu = false"></i>
    <form class="search-form">
      <div class="form-group position-relative search-box">
        <i class="fa fa-search text-neutral-300" aria-hidden="true"></i>
        <input ngx-google-places-autocomplete placeholder="search location" [(ngModel)]="searchCity" name="searchBar"
          (onAddressChange)="handleAddressChange($event)" type="text" class="form-control" />
      </div>
    </form>
  </nav>
  <article class="today-weather-wrapper ">
    <div class="overlay"></div>
    <div class="filter flex jc-sb ai-c">
      <a class="search-btn bg-neutral-300 text-neutral-100 cp" (click)="showSearchMenu = true">Seach for
        places</a>
      <a href="javascript:void(0)" class="location-marker" (click)="getCurrentCoords()">
        <i class="fa fa-compass text-neutral-100" aria-hidden="true"></i>
      </a>
    </div>
    <div class="today-weather-stats flex flex-column ai-c">
      <div style="width:202px;height:234px;">
        <img src="{{currTempImage}}" class="curr-weather-icon" />
      </div>
      <h1 class="temp-value my-15 my-md-80" *ngIf="currTempUnit == 'f'">
        {{fiveDaysWeatherOnly[0]?.main.temp | kelvinToFahrenheit}}<span>°F</span>
      </h1>
      <h1 class="temp-value my-15 my-md-80" *ngIf="currTempUnit == 'c'">
        {{fiveDaysWeatherOnly[0]?.main.temp | kelvinToCelsius}}<span>°C</span>
      </h1>
      <p class="weather-name my-15 my-md-80">{{(fiveDaysWeatherOnly[0]?.weather[0]?.main)}}</p>
      <div class="weather-time flex jc-sb ai-c my-30">
        <span class="day">Today</span>
        <span class="date">{{dateInfo[0]}}, {{dateInfo[1]}} {{dateInfo[2]}}</span>
      </div>
      <p class="location__name">
        <i class="fa fa-map-marker text-neutral-200" aria-hidden="true"></i>
        {{tempData.city.name}}
      </p>
    </div>
  </article>
  <article class="detailed-weather bg-primary-900">

    <div class="detailed-weather-content position-relative">
      <div class="convert-temp-btns">
        <button class="temp-btn " [class.activeTempUnit]="currTempUnit == 'c'" (click)="currTempUnit='c'">
          °C
        </button>
        <button class="temp-btn" [class.activeTempUnit]="currTempUnit == 'f'" (click)="currTempUnit='f'">
          °F
        </button>
      </div>
      <div class="future-weather">
        <div class="single-day" *ngFor="let temp of fiveDaysWeatherOnly;let i = index">
          <span *ngIf="i == 0">Today</span>
          <!-- <h1>{{'str'.replace(/(,[^,]*),/g,"$1 ")}}</h1> -->
          <span *ngIf="i > 0">{{formatRes(getDateInfo(temp?.dt))}}</span>
          <img src={{getCurrTempImg(temp.weather[0].icon)}} class="single-day__icon">
          <div class="single-day__temp">
            <!-- <span class="text-neutral-100" *ngIf="currTempUnit == 'c'">{{kelvinToCels(temp?.main?.temp_max)}}°C</span>
            <span class="text-neutral-100" *ngIf="currTempUnit == 'f'">{{kelvinToFahren(temp?.main?.temp_max)}}°F</span>
            <span class="text-neutral-200" *ngIf="currTempUnit == 'c'">{{kelvinToCels(temp?.main?.temp_min)}}°C</span>
            <span class="text-neutral-200" *ngIf="currTempUnit == 'f'">{{kelvinToFahren(temp?.main?.temp_min)}}°F</span> -->
            <span class="text-neutral-100" *ngIf="currTempUnit == 'c'">{{temp?.main?.temp_max | kelvinToCelsius
              }}°C</span>
            <span class="text-neutral-100" *ngIf="currTempUnit == 'f'">{{temp?.main?.temp_max |
              kelvinToFahrenheit}}°F</span>
            <span class="text-neutral-200" *ngIf="currTempUnit == 'c'">{{temp?.main?.temp_min |
              kelvinToCelsius}}°C</span>
            <span class="text-neutral-200" *ngIf="currTempUnit == 'f'">{{temp?.main?.temp_min |
              kelvinToFahrenheit}}°F</span>
          </div>
        </div>
      </div>
      <div class="today-highlights">
        <h3>
          Today's Highlights
        </h3>
        <div class="box-wrapper">
          <div class="box">
            <span class="box-text">Wind status</span>
            <span class="box-number"> <b>{{fiveDaysWeatherOnly[0]?.main.temp | number: '1.0-0'}}</b> mph</span>
            <span class="box-icon">
              <i class="fa fa-location-arrow text-neutral-100" aria-hidden="true"></i>
            </span>
          </div>
          <div class="box">
            <span class="box-text">Humidity</span>
            <span class="box-number"> <b>{{fiveDaysWeatherOnly[0]?.main.humidity}}</b> %</span>
            <div class="bar-parent">
              <span class="bar-marker">0</span>
              <span class="bar-marker">50</span>
              <span class="bar-marker">100</span>
              <span class="bar-inner" [style.width.%]="fiveDaysWeatherOnly[0]?.main.humidity"></span>
            </div>
          </div>
          <div class="box has-icon">
            <span class="box-text">Visibility</span>
            <span class="box-number"> <b>{{visibility}}</b> miles</span>
          </div>
          <div class="box has-icon">
            <span class="box-text">Air Pressure</span>
            <span class="box-number"> <b>{{fiveDaysWeatherOnly[0]?.main.pressure}}</b> mb</span>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <p class="author">
        created by <a href="https://devchallenges.io/portfolio/jukha">jukha</a>- devChallenges.io
      </p>
    </footer>
  </article>

</main>