main {
  min-height: 100vh;
  position: relative;
}

.nav {
  width: 100%;
  top: 0;
  bottom: 0;
  height: 100%;
  padding: 4.75rem 0.75rem;
  position: absolute;
  transform: translateX(-81.25rem);
  background-color: var(--clr-primary-800);
  z-index: 1000;
  transition: all 300ms ease-out;
}

.search-form {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.fa-search {
  cursor: pointer;
  font-size: var(--fs-600);
}

.search-form > :first-child {
  flex-grow: 1;
}

.search-box {
  border: 1px solid var(--clr-neutral-100);
  display: flex;
  align-items: center;
  padding: 0.875rem 0.938rem;
  gap: 1rem;
}

.search-box .form-control {
  background-color: transparent;
  border: none;
  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  line-height: 1.188rem;
  color: var(--clr-neutral-300);
  font-weight: var(--fw-medium);
}

.search-box .form-control:focus {
  outline: none;
}

.btn {
  padding: 0.875rem 0.938rem;
}

input[type="submit"] {
  background-color: var(--clr-accent-500);
  color: var(--clr-neutral-100);
  border: 1px solid var(--clr-accent-500);
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-size: var(--fs-600);
  cursor: pointer;
}

.suggestions-box {
  padding-top: 2.375rem;
  display: flex;
  flex-direction: column;
  gap: 3.125rem;
}

.suggested-city {
  font-weight: var(--fw-medium);
  font-size: var(--fs-400);
  color: var(--clr-neutral-100);
  line-height: 1.174rem;
  padding: 1.438rem 0.75rem;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}

.suggested-city .fa-angle-right {
  transition: all 300ms ease-in-out;
  cursor: pointer;
  color: var(--clr-neutral-300);
  opacity: 0;
}

.suggested-city:hover {
  border-color: var(--clr-neutral-300);
}

.suggested-city:hover .fa-angle-right {
  opacity: 1;
}

.show {
  transform: translateX(0);
}

/* ================ */
/* weather summary */
/* ================ */

.today-weather-wrapper {
  min-height: 50.625rem;
  padding: 0.688rem 1.125rem;

  background: var(--clr-primary-800) url("../assets/img/Cloud-background.png");
  background-repeat: no-repeat;
  background-position: top 3.125rem center;
  position: relative;
}

.overlay {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(30, 33, 58, 0.8);
}

.filter {
  position: relative;
}

.search-btn {
  padding: 0.688rem 1.125rem;
  display: inline-block;
  font-family: var(--ff-primary);
}

.location-marker {
  background-color: var(--clr-neutral-300);
  min-height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.location-marker i {
  font-size: 1.375rem;
}

.today-weather-stats {
  position: relative;
  padding: 4.75rem 0 6.563rem;
}

.curr-weather-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.weather-name {
  font-size: var(--fs-700);
  color: var(--clr-neutral-200);
  font-weight: var(--fw-semi-bold);
}

.weather-time > * {
  font-size: var(--fs-500);
  color: var(--clr-neutral-200);
  margin: 0 0.938rem;
  font-weight: var(--fw-medium);
}

.weather-time .day {
  position: relative;
}

.weather-time .day::after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background: var(--clr-neutral-300);
  position: absolute;
  right: -1rem;
  top: 50%;
}

.location__name {
  color: var(--clr-neutral-300);
  font-size: var(--fs-500);
  font-weight: var(--fw-medium);
}

.location__name i {
  margin-right: 8px;
}

/* =============== */
/* detail weather */
/* =============== */
.detailed-weather {
  position: relative;
  display: flex;
  justify-content: center;
  /* padding: 2.625rem; */
}

.convert-temp-btns {
  padding: 0 1.25rem;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.temp-btn {
  padding: 0;
  margin-top: 2.5rem;
  border: none;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
  min-height: 2.5rem;
  width: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--clr-neutral-100);
  color: var(--clr-accent-600);
}
.activeTempUnit {
  background-color: var(--clr-neutral-300);
  color: var(--clr-neutral-100);
}

.detailed-weather-content {
  max-width: 56rem;
}

.future-weather {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.625rem;
  padding: 2.5rem;
  padding-bottom: 3.125rem;
}

.single-day {
  background-color: var(--clr-primary-800);
  padding: 1.125rem 1.25rem;
  text-align: center;
  width: 7.5rem;
}

.single-day span {
  font-size: var(--fs-350);
  font-weight: var(--fw-medium);
  line-height: 1.174rem;
}
.single-day span:nth-child(1) {
  color: var(--clr-neutral-100);
}

.single-day__icon {
  /* max-height: 3.875rem; */
  margin: auto;
  margin: 0.625rem auto 1.938rem;
}

.single-day__temp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.today-highlights {
  padding: 1.25rem 1.25rem 5rem;
}

.today-highlights h3 {
  font-size: var(--fs-600);
  color: var(--clr-neutral-100);
  font-weight: var(--fw-bold);
  line-height: 1.75rem;
  margin-bottom: 2rem;
}

.box-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.box {
  background-color: var(--clr-primary-800);
  min-height: 12.75rem;
  /* min-width: 20.5rem; */
  width: 45%;
  flex-grow: 1;
  padding: 1.375rem 0;
  text-align: center;
}

.box.has-icon {
  min-height: 10rem;
  max-height: 10rem;
}

.box span {
  display: block;
}

.box-text {
  color: var(--clr-neutral-100);
  font-size: var(--fs-400);
  font-weight: var(--fw-medium);
  line-height: 1.172rem;
  margin-bottom: 0.625rem;
}

.box-number {
  font-size: var(--fs-700);
  font-weight: var(--fw-bold);
  color: var(--clr-neutral-100);
  line-height: 2.641rem;
}

.box-number b {
  font-size: var(--fs-850);
  font-weight: inherit;
}

.box-icon {
  background-color: var(--clr-neutral-300);
  margin: 2rem auto 0;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.box-icon i {
  font-size: var(--fs-300);
  transform: rotate(182deg);
}

.author {
  font-family: var(--ff-secondary);
  font-weight: var(--fw-medium);
  font-size: var(--fs-300);
  color: var(--clr-neutral-200);
  line-height: 1.067rem;
  text-align: center;
}

.author a {
  font-weight: var(--fw-bold);
  text-decoration: underline;
  color: inherit;
}

footer {
  position: absolute;
  bottom: 1.5rem;
}

.bar-parent {
  height: 8px;
  width: 229px;
  background: var(--clr-neutral-100);
  border-radius: 5rem;
  margin: 2rem auto 0;
  position: relative;
}
.bar-marker {
  font-size: var(--fs-250);
  color: var(--clr-neutral-200);
  font-weight: var(--fw-bold);
  position: absolute;
  top: -20px;
}
.bar-marker:first-child {
  left: 0;
}
.bar-marker:nth-child(2) {
  left: 50%;
  transform: translateX(-50%);
}
.bar-marker:nth-child(3) {
  right: 0;
}
.bar-marker:nth-child(4) {
  right: 0;
  top: 10px;
}
.bar-inner {
  background-color: #ffec65;
  display: inline-block;
  height: inherit;
  border-radius: inherit;
}

/* ================== */
/* Media Queries */
/* ================== */

@media (max-width: 37.5rem) {
  .box {
    width: 100%;
  }
}

@media (min-width: 80em) {
  main {
    display: flex;
  }

  .nav {
    max-width: 28.688rem;
  }

  .box-wrapper {
    gap: 2.9rem;
  }

  .today-weather-wrapper {
    min-width: 28.688rem;
    padding: 2.625rem;
    background-position: top 7.5rem center;
  }

  .today-weather-stats {
    padding-top: 6.25rem;
  }

  .detailed-weather {
    padding: 2.625rem;
  }

  .detailed-weather {
    flex-grow: 1;
  }

  .future-weather {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .temp-btn {
    margin-top: 0;
  }
}
